@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #fff;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100; 

    /* staff */
    --staff-first-color: #79018C;


    /* student */
    --student-first-color:  #F30E5C;
}

*,
::before,
::after {
    box-sizing: border-box
}


body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #F7F6FB;
    z-index: var(--z-fixed);
    transition: .5s
}


.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

/* *********************** */
.navbar-elements{
    position: absolute ;
    right: 100px;
}
.logout,.chg_pwd{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-elements .chg_pwd,.logout{
    color: var(--first-color);
    font-weight: bolder;
}
.navbar-elements .chg_pwd:hover,.logout:hover{
    color: #9984ec;
}
.chg_pwd_icon,.logout_icon{
    color: var(--first-color);
}
.chg_pwd_icon:hover,.logout_icon:hover{
    color: #9984ec;
}
.divider{
    color: var(--first-color);
}
.navbar-hide{
    display: none;
}
/* *********************** */


.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
    font-weight: bold;
}


/* staff  start*/
.nav_link_staff_c{
    color: #d294df;
    font-weight: bold;
}
/* staff end*/
/* student start */
.nav_link_student_c{
    color: #e7aabf;
    font-weight: bold;
}
/* student end */


.nav_link:hover {
    color: var(--white-color)
}
.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}
.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}


@media screen and (max-width: 630px) {

    .navbar-elements .chg_pwd,.logout{
        display: none;
    }
    .navbar-hide{
        display: inline;
    }
    .logout_icon,.chg_pwd_icon{
        margin-left: 15px;
        margin-right: 15px;
    }
    .divider-hide{
        display: none;
    }

}

@media screen and (max-width: 420px){

    .navbar-elements{
        position: absolute ;
        right: 70px;
    }
}


/* home */
#main-content{
    background-color: aquamarine;
}
.home-image-container{
    text-align: center;
    padding-top: 5%;
}
.home-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.home-heading{
    margin-top: 2%;
    font-weight: bolder;
    letter-spacing: 0.5rem;
    color: #FF3D00;
}

@media screen and (max-width: 600px){

    .home-image-container{
        padding-top: 15%;
    }

}
@media screen and (max-width: 500px) {
    
    .home-image{
        width: 150px;
        height: 150px;
    }

}



/* edit button */
.edit-btn{
display: inline-block;
outline: none;
cursor: pointer;
font-weight: 600;
border-radius: 3px;
padding: 12px 24px;
border: 0;
color: #fff;
background: #FF3D00;
line-height: 1.15;
font-size: 16px;
margin-top: 7rem;
}
.edit-btn:hover {
    transition: all .1s ease;
    background-color: aquamarine;
    color: #FF3D00;
    font-weight: bold;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #FF3D00;
}


/* staff */
.header_toggle_staff_c{
    color: var(--staff-first-color);
}
.navbar-elements .chg_pwd_staff_c,.logout_staff_c{
    color: var(--staff-first-color);
}
.navbar-elements .chg_pwd_staff_c:hover,.logout_staff_c:hover{
    color: #b84ec9;
}
.divider_staff_c{
    color: var(--staff-first-color);
}
.l-navbar_staff_c{
    background-color: var(--staff-first-color);
}
.chg_pwd_icon_staff_c,.logout_icon_staff_c{
    color: var(--staff-first-color);
}
.chg_pwd_icon_staff_c:hover,.logout_icon_staff_c:hover{
    color: #b84ec9;
}


/* student */
.header_toggle_student_c{
    color: var(--student-first-color);
}
.navbar-elements .chg_pwd_student_c,.logout_student_c{
    color: var(--student-first-color);
}
.navbar-elements .chg_pwd_student_c:hover,.logout_student_c:hover{
    color: #f16791;
}
.divider_student_c{
    color: var(--student-first-color);
}
.l-navbar_student_c{
    background-color: var(--student-first-color);
}
.chg_pwd_icon_student_c,.logout_icon_student_c{
    color: var(--student-first-color);
}
.chg_pwd_icon_student_c:hover,.logout_icon_student_c:hover{
    color: #f16791;
}
