* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
body{
    background-color: #212329;
}


.main_area{
    min-height: 100vh;
    min-width: 100vw;
}
.user_selection{
    font-family: cursive,"Times New Roman", Times, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
}
.user_link{
    text-decoration: none!important;
}
.user_link:hover{
    transform: translateY(-20px);
}


.user_link:hover .user_desig{
    color: rgb(72, 69, 218);
}
.individual_user{
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 15px;
}
.image_container{
    background-color: #fff;
    width:  200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.user_img{
    width: 150px;
}
.user_desig{
    color: rgb(19, 7, 187);
    font-weight: bolder;
}


/* media queries */
@media (max-width: 960px){

    .user_selection{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
    }

}

@media (max-width: 850px){
    .user_selection{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 15px;
    }
}

@media (max-width: 768px){
    .individual_user{
        padding: 15px;
    }
    .image_container{
        width: 150px;
        height: 150px;
        margin-bottom: 15px;
    }
    .user_img{
        width: 130px;
    }
    .user_desig{
        font-size: larger;
    }
}

@media (max-width: 616px){
    .user_selection{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .individual_user{
        margin-top: 30px;
    }
}